<form [formGroup]="alumnosForm" (ngSubmit)="onSubmit()" class="grid formgrid">
<div class="col-6">
  <mat-form-field class="w-full">
    <mat-label>Id</mat-label>
    <input formControlName="id" matInput type="text" readonly>   
  </mat-form-field>
</div>
<div class="col-6">
<mat-form-field class="w-full">
    <mat-label>Nombres</mat-label>
    <input formControlName="nombres" matInput type="text">   
  </mat-form-field>
</div>
<div class="col-6">
  <mat-form-field class="w-full">
    <mat-label>Apellidos</mat-label>
    <input formControlName="apellidos" matInput type="text">   
  </mat-form-field>
</div>
<div class="col-6">
  <mat-form-field class="w-full">
    <mat-label>Edad</mat-label>
    <input formControlName="edad" matInput type="text">   
  </mat-form-field>
</div>
<div class="col-6">
    <mat-form-field class="w-full">
      <mat-label>Celular</mat-label>
      <input formControlName="celular" matInput type="text">   
    </mat-form-field>
  </div>
<div class="col-6">
  <mat-form-field class="w-full">
    <mat-label>Correo</mat-label>
    <input formControlName="correo" matInput type="email">   
  </mat-form-field>
</div>
<div class="col-12 flex justify-content-end">
  <button mat-flat-button color="warn" (click)="onPressCancelar(true)">Cancelar</button>
    <button mat-flat-button color="primary"> {{botonAccion}}</button>
</div>

</form>

