<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p style="margin-top:20px;margin-left:20px;;margin-right:20px" appLetra20>Menu Principal</p>
      @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
      }
      <div>
        <button (click)="PressMostrarAlumnos()" mat-raised-button color="accent" style="margin-top:20px;margin-left:20px;;margin-right:20px">
          Alumnos
        </button>
      </div>
      <div>
        <button (click)="PressMostrarUsuarios()" mat-raised-button color="accent" style="margin-top:20px;margin-left:20px;;margin-right:20px">
          Usuarios
        </button>
      </div>
      <div>
        <button (click)="PressMostrarInscripciones()" mat-raised-button color="accent" style="margin-top:20px;margin-left:20px;;margin-right:20px">
          Inscripciones
        </button>
      </div>
      
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" style="margin-right:10px">
              <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button (click)="PressMostrarHome()" class="example-icon home-icon" aria-label="Example home icon" style="margin-right:10px">
              <mat-icon>home</mat-icon>
            </button>
            <span appLetra20 style="margin-right:20px">Universidad Tecnológica de Medellín</span>
            <span class="example-spacer"></span>
            <img style="margin-right:100px" src="./assets/escudoUniversidad.png" alt="" height="60" width="60">
            <span>Proyecto Final por Wilmar Alejandro Gutierrez Ramirez</span>
            <span class="example-spacer"></span>
           
           
            
          </mat-toolbar>
          <div class="p-3" *ngIf="mostrarHome">
            <app-home></app-home>
          </div>
      <div class="p-3" *ngIf="mostrarAlumnos">
        <app-alumnos></app-alumnos>
      </div>
      <div class="p-3" *ngIf="mostrarUsuarios">
        <app-usuarios></app-usuarios>
      </div>  
      <div class="p-3" *ngIf="mostrarInscripciones">
        <app-inscripciones></app-inscripciones>
      </div>          
    </div>
  
  </mat-drawer-container>
