<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p style="margin-top:20px;margin-left:20px;;margin-right:20px" appLetra20>Menu Principal</p>
      @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
      }
      <div>
        <button (click)="showFiller = !showFiller" mat-raised-button color="accent" style="margin-top:20px;margin-left:20px;;margin-right:20px">
          Alumnos
        </button>
      </div>
      <div>
        <button (click)="showFiller = !showFiller" mat-raised-button color="accent" style="margin-top:20px;margin-left:20px;;margin-right:20px">
          Cursos
        </button>
      </div>
      <div>
        <button (click)="showFiller = !showFiller" mat-raised-button color="accent" style="margin-top:20px;margin-left:20px;;margin-right:20px">
          Inscripciones
        </button>
      </div>
      
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span appLetra20>Proyecto Final por Wilmar Alejandro Gutierrez Ramirez</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar>

      <div class="p-3">
        <app-alumnos></app-alumnos>
      </div>
          
    </div>
  
  </mat-drawer-container>
