<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="dashboard-sidebar" mode="side">
      <p style="margin-top:20px;margin-left:20px;;margin-right:20px" appLetra20>Menu Principal</p>
    
      <mat-nav-list>
        <a 
        #homeLink="routerLinkActive"
        routerLinkActive
        [activated]="homeLink.isActive"
        routerLink="home" 
        mat-list-item
        >Inicio</a>
        <a 
        #alumnosLink="routerLinkActive"
        routerLinkActive
        [activated]="alumnosLink.isActive"
        routerLink="alumnos" 
        mat-list-item
        
        >Alumnos</a>
        <a 
        #cursosLink="routerLinkActive"
        routerLinkActive
        [activated]="cursosLink.isActive"
        routerLink="cursos" 
        mat-list-item
        >Cursos</a>
        <a 
        #inscripcionesLink="routerLinkActive"
        routerLinkActive
        [activated]="inscripcionesLink.isActive"
        routerLink="inscripciones" 
        mat-list-item
        >Inscripciones</a>
        <a 
        #usuariosLink="routerLinkActive"
        routerLinkActive
        [activated]="usuariosLink.isActive"
        routerLink="usuarios" 
        mat-list-item
        >Usuarios</a>
        <a 
        #logOutLink="routerLinkActive"
        routerLinkActive
        [activated]="logOutLink.isActive"
        (click)="Logout()" 
        mat-list-item
        >Cerrar Sesion</a>
      </mat-nav-list>
        
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" style="margin-right:10px">
              <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button class="example-icon home-icon" aria-label="Example home icon" style="margin-right:10px">
              <mat-icon>home</mat-icon>
            </button>
            <div>
              <p style="font-size: 1em;line-height: 0.5em;"><span style="margin: 1em;">Universidad Tecnológica de Medellín</span></p>
              <p style="font-size: 1em;line-height: 0.5em;"><span style="margin: 1em;">Proyecto Final por Wilmar Alejandro Gutierrez Ramirez</span></p>
            </div>
            <span class="example-spacer"></span>
            <img style="margin-right:100px" src="./assets/escudoUniversidad.png" alt="" height="60" width="60">
           <span style="flex: 1"></span>
            <div *ngIf="authUser$ | async; let user">
              <p style="font-size: 1em;line-height: 0.5em;">{{ user.nombres}}</p>
              <p style="font-size: 1em;line-height: 0.5em;">{{ user.correo}}</p>
            </div>
            <span class="example-spacer"></span>
           
           
            
          </mat-toolbar>
          <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
